<h1>Welcome to Organization Chart</h1>
<p>This is the home page of the Organization Chart application.</p>

<div id="root"></div>

<% content_for :head do %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<% end %>
